@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Poiret+One&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geo", sans-serif;
  overscroll-behavior-y: none;
}

.app {
  height: 100vh;
  display: grid;
  background: linear-gradient(45deg, #023047, #219ebc);
}

.appHeader {
  text-align: center;
  padding-top: 30px;
  color:white;
  font-size: 75px;
}